<!DOCTYPE HTML PUBLIC>
<!-- Application AngularJS -->
<html ng-app="todoApp">

<head>
    <title>ToDo</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>

<body ng-controller="testCtrl">
    <form ng-submit="addTask()">
        Ajouter tâche : <input type="text" ng-model="task" />
        <input type="submit" value="Ajouter" />

    </form>
    </br>
    </br>
    <div ng-repeat="element in tab">
        <input type="checkbox" ng-click="rayer($index)" />
        <span id="ele" ng-style="{'text-decoration': (element.barre == true) ? 'line-through' : 'blink'}">{{element.valeur}}</span>
        <a href='' ng-click="supprimer($index)">X</a>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js "></script>

    <script>
        //Initialiser angularJs
        var todoApp = angular.module('todoApp', []);
        todoApp.controller('testCtrl', ['$scope', function($scope, tab) {
            $scope.tab = [];

            $scope.addTask = function() {
                var task = new Object()
                task.barre = false;
                task.valeur = $scope.task;
                $scope.tab.push(task);
                $scope.task = '';
            };

            $scope.supprimer = function($index) {
                $scope.tab.splice($index, 1);
            };

            $scope.rayer = function($index) {
                $scope.tab[$index].barre = !$scope.tab[$index].barre;
            };

        }]);
    </script>

</body>

</html>